.black {
    background-color: #000000
}

.lightGrey {
    background-color: #d3d3d3;
}

.navb {
    background-color: #e7e7e7;
}

.ivory {
    background-color: #fffff0;
}

.white {
    background-color: #FFFFFF;
}

.beige {
    background-color: #F5F5DC;
}

.remove {
    text-decoration: none
}